workflows/[ChargerSMS] Check Credit not complete.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-23T12:12:38.858Z",
  "hash": "49a0792913e83ee87076085c2a47ecb3",
  "id": 3,
  "name": "[ChargerSMS] Check Credit not complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "89701b58-38d6-4409-b4cd-9183b64d1df8",
        "options": {}
      },
      "id": "6500c876-ec5b-4fc1-8227-e1ddd1b8e28f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        220
      ],
      "webhookId": "89701b58-38d6-4409-b4cd-9183b64d1df8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smsthai.net:7733/apiCheckCredit.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{$json[\"body\"][\"current_username\"]}}"
            },
            {
              "name": "password",
              "value": "={{$json[\"body\"][\"user_passwordmd5\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "17cd79c6-c15a-4e8b-aafe-e1813e7b51a7",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{$json[\"data\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e65d811d-543d-4c1e-8fca-472c9735f69f",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b8d6c9e0-a30e-408e-b37d-0d921ffe5c60",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1240,
        260
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "userId": "={{$node[\"Webhook\"].json[\"body\"][\"current_userid\"]}}",
        "updateFields": {}
      },
      "id": "ced3d3d1-7525-4b86-b35e-d2ea6e6f479c",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1460,
        260
      ],
      "executeOnce": false,
      "credentials": {
        "wordpressApi": {
          "id": "1",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-23T12:12:43.461Z"
}