workflows/[CHARGERSMS DEVOLOPER] Send SMS + Response.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Json": {
      "main": [
        [
          {
            "node": "Split msisdn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split msisdn": {
      "main": [
        [
          {
            "node": "Remove Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Receive Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-08T12:48:43.787Z",
  "id": "9",
  "name": "[CHARGERSMS DEVOLOPER] Send SMS + Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev-sendsms",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "2d96201d-ca36-4faa-88a7-561df8362ff3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "webhookId": "6d1405e7-d47a-4deb-bef4-6fd17f451c70"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            },
            {
              "name": "msisdn",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"msisdn\"].split(',')}}"
            },
            {
              "name": "msg",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"msg\"]}}"
            },
            {
              "name": "sender",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"sender\"]}}"
            },
            {
              "name": "time",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"time\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "72447aca-d73c-4db9-a65f-91a84a8681e0",
      "name": "Receive Json",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        960,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "dataSMS",
              "value": "={{[$json]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "33f789ef-efcf-4214-bb0f-dd47c59a9554",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1440,
        540
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.smsthai.net:7733/api_send_sms.php",
        "jsonParameters": true,
        "options": {
          "splitIntoItems": true
        },
        "bodyParametersJson": "={{$json}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2020,
        780
      ],
      "id": "e07285f7-4df2-4822-a295-2af14e73b773"
    },
    {
      "parameters": {
        "fieldToSplitOut": "msisdn",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "72fbbf14-9177-4185-814c-f68efd478d34",
      "name": "Split msisdn",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1160,
        520
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "msisdn"
            }
          ]
        },
        "options": {}
      },
      "id": "b8cb7f57-d7b4-4757-86a1-aa86a0cbf088",
      "name": "Remove Duplicate",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1300,
        760
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{$json[\"data\"]}}"
      },
      "id": "38ac537c-a205-44c1-b5ca-a29a2dccdbb6",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1800,
        560
      ],
      "webhookId": "b7ec8cf5-1baf-4264-bdf6-5046cf5ac883"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5fe881f7-5711-4b86-b5a6-3c195e95a869",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2680,
        680
      ]
    },
    {
      "parameters": {
        "functionCode": "const authorization = item.headers.authorization;\nconst encoded_credentials = authorization.replace('Basic', '').trim();\nconst credentials_buffer = new Buffer(encoded_credentials, 'base64');\nconst decoded_credentials = credentials_buffer.toString('ascii').split(':');\n\nreturn {\n  username: decoded_credentials[0],\n  password: decoded_credentials[1]\n};"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        660,
        720
      ],
      "id": "ee0f1f51-577a-41ea-b349-9265ee07b92b"
    },
    {
      "parameters": {
        "value": "={{ $json.password }}",
        "dataPropertyName": "password"
      },
      "id": "c48c601c-5277-4cdb-ae83-7fe7bd2476ba",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        820,
        520
      ]
    },
    {
      "parameters": {
        "value": "={{$json[\"dataSMS\"][0][\"time\"]}}",
        "custom": true,
        "toFormat": "YYYY/MM/DD HH:mm:ssZ",
        "options": {}
      },
      "id": "5e658bbd-6f97-4282-bdfb-2b6bc617b57f",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1640,
        800
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "5337cdc7-55fe-463d-8059-730055c39196",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2220,
        640
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "list"
      },
      "id": "bacdab8b-aeaf-4f98-ade0-531afc5e351a",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2460,
        600
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-09T07:16:11.000Z",
  "versionId": "2c6af72c-10d8-4268-ab98-c40c2211c2ad"
}