workflows/[CHARGERSMS DEVOLOPER] Request OTP + Response.json
{
  "active": true,
  "connections": {
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Receive Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Json": {
      "main": [
        [
          {
            "node": "Split msisdn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split msisdn": {
      "main": [
        [
          {
            "node": "Remove Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-13T05:35:33.203Z",
  "hash": "d73aced18538d5aeecb6e1515229528e",
  "id": 30,
  "name": "[CHARGERSMS DEVOLOPER] Request OTP + Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev-request-otp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bc68e626-fc54-4e12-a2a5-955f008c48fa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        780
      ],
      "webhookId": "615d20da-794d-4828-938f-f906cd56463f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            },
            {
              "name": "msisdn",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"msisdn\"].split(',')}}"
            },
            {
              "name": "msg",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"msg\"]}}"
            },
            {
              "name": "sender",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"sender\"]}}"
            },
            {
              "name": "otp_expire",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"otp_expire\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "aa3b9a7b-1cf5-48af-a24d-19759c82a6fe",
      "name": "Receive Json",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        1040
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.smsthai.net:7733/partnerConnectOTP.php",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1740,
        480
      ],
      "id": "1144c2ab-69fc-4deb-99f6-c569da2ddc2d",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "msisdn",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "20d64a0e-9a26-4d19-a6a0-d3709480cee7",
      "name": "Split msisdn",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        800,
        820
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "msisdn"
            }
          ]
        },
        "options": {}
      },
      "id": "3e8dca6d-3391-4525-adae-d217e51e945d",
      "name": "Remove Duplicate",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1040,
        900
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5e69dc42-5035-417e-b5ff-dbf96ec70ef9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        1000
      ]
    },
    {
      "parameters": {
        "functionCode": "const authorization = item.headers.authorization;\nconst encoded_credentials = authorization.replace('Basic', '').trim();\nconst credentials_buffer = new Buffer(encoded_credentials, 'base64');\nconst decoded_credentials = credentials_buffer.toString('ascii').split(':');\n\nreturn {\n  username: decoded_credentials[0],\n  password: decoded_credentials[1]\n};"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        280,
        1040
      ],
      "id": "b4b88e61-4c3a-491c-af10-80bc1f7c02c2"
    },
    {
      "parameters": {
        "value": "={{ $json.password }}",
        "dataPropertyName": "password"
      },
      "id": "5de899e4-0ff7-4197-9bb1-11140f278f05",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        460,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smsthai.net:7733/partnerConnectOTP.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            },
            {
              "name": "sender",
              "value": "={{ $json.sender }}"
            },
            {
              "name": "msisdn",
              "value": "={{ $json.msisdn }}"
            },
            {
              "name": "msg",
              "value": "={{ $json.msg }}"
            },
            {
              "name": "otp_expire",
              "value": "={{ $json.otp_expire }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe35ce9e-f590-40b1-a57e-26faac4e85cf",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1320,
        1000
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "c37960db-7bf5-4be6-b94f-c03d009856eb",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1780,
        700
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "list"
      },
      "id": "01696659-f02e-48cf-894c-76fad87a23f3",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1980,
        840
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b98100d3-84b4-47ca-8e32-8be3d6a6eefb",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1600,
        980
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-12-13T09:50:04.078Z",
      "updatedAt": "2022-12-13T09:50:04.078Z",
      "id": "2",
      "name": "DEV"
    }
  ],
  "updatedAt": "2022-12-13T09:50:33.289Z"
}