workflows/[ChargerSMS] Receive Email Notify to LINE.json
{
  "active": true,
  "connections": {
    "IMAP Email": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-23T12:12:17.927Z",
  "hash": "fa042405170cf915c93dcdd333a073e9",
  "id": 2,
  "name": "[ChargerSMS] Receive Email Notify to LINE",
  "nodes": [
    {
      "parameters": {
        "format": "resolved",
        "dataPropertyAttachmentsPrefixName": "attachment_1",
        "options": {}
      },
      "id": "3bf51a9b-1c08-4133-8ce9-ecd1def01338",
      "name": "IMAP Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        500,
        220
      ],
      "credentials": {
        "imap": {
          "id": "4",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "message": "=Email Notify\nDate: {{$json[\"currenttime\"]}}\nFrom: {{$json[\"from\"][\"text\"]}}\nSubject: {{$node[\"IMAP Email\"].json[\"subject\"]}}\nText: {{$json[\"text\"]}}",
        "additionalFields": {}
      },
      "id": "552ecd4d-c945-46b0-ac4b-853d18342b22",
      "name": "Line",
      "type": "n8n-nodes-base.line",
      "typeVersion": 1,
      "position": [
        1120,
        580
      ],
      "credentials": {
        "lineNotifyOAuth2Api": {
          "id": "3",
          "name": "[Chargersms] Line Notify"
        }
      }
    },
    {
      "parameters": {
        "value": "={{$json.headers.date}}",
        "dataPropertyName": "currenttime",
        "custom": true,
        "toFormat": "DD/MM/YYYY HH:mm:ss",
        "options": {
          "toTimezone": "Asia/Bangkok"
        }
      },
      "id": "61fbd55c-562b-4950-ab5c-64607ecf532c",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        780,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:IMAP Email": {
      "lastMessageUid": 311
    }
  },
  "tags": [],
  "updatedAt": "2022-12-28T03:29:18.608Z"
}