workflows/[CHARGERSMS DEVOLOPER] Send SMS + Response.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Receive Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Receive Json": {
      "main": [
        [
          {
            "node": "Split msisdn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split msisdn": {
      "main": [
        [
          {
            "node": "Remove Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-13T05:32:16.361Z",
  "hash": "282d223a5197ca78b431556a6ef570c0",
  "id": 29,
  "name": "[CHARGERSMS DEVOLOPER] Send SMS + Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev-sendsms",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "411ef1ac-2322-492c-94e0-5b577a66170d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        3520,
        1160
      ],
      "webhookId": "6d1405e7-d47a-4deb-bef4-6fd17f451c70"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            },
            {
              "name": "msisdn",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"msisdn\"].split(',')}}"
            },
            {
              "name": "msg",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"msg\"]}}"
            },
            {
              "name": "sender",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"sender\"]}}"
            },
            {
              "name": "time",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"time\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b864d27-3d5b-4c07-9827-4fc665b26416",
      "name": "Receive Json",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4020,
        1440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "dataSMS",
              "value": "={{[$json]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "01f72bae-fa09-45e4-b924-f126beb55629",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4500,
        1240
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.smsthai.net:7733/api_send_sms.php",
        "jsonParameters": true,
        "options": {
          "splitIntoItems": true
        },
        "bodyParametersJson": "={{$json}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        5080,
        1480
      ],
      "id": "c5067a66-012d-4fc4-b14d-99509266826b"
    },
    {
      "parameters": {
        "fieldToSplitOut": "msisdn",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "fd154a0b-4516-4b7f-8ca4-bb2a49f20aa2",
      "name": "Split msisdn",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        4220,
        1220
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "msisdn"
            }
          ]
        },
        "options": {}
      },
      "id": "4aa15d7b-619d-4503-aacb-b74ecf2c034a",
      "name": "Remove Duplicate",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        4360,
        1460
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{$json[\"data\"]}}"
      },
      "id": "4b5bf711-5951-44f6-b722-e224bdf6c526",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4860,
        1260
      ],
      "webhookId": "b7ec8cf5-1baf-4264-bdf6-5046cf5ac883"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "19d9e88d-2c87-418e-86d1-b2b4785713d4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5740,
        1380
      ]
    },
    {
      "parameters": {
        "functionCode": "const authorization = item.headers.authorization;\nconst encoded_credentials = authorization.replace('Basic', '').trim();\nconst credentials_buffer = new Buffer(encoded_credentials, 'base64');\nconst decoded_credentials = credentials_buffer.toString('ascii').split(':');\n\nreturn {\n  username: decoded_credentials[0],\n  password: decoded_credentials[1]\n};"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        3720,
        1420
      ],
      "id": "b112dd29-fb91-490c-9676-46ae92169dd6"
    },
    {
      "parameters": {
        "value": "={{ $json.password }}",
        "dataPropertyName": "password"
      },
      "id": "73a580e2-1fad-4579-9f4c-a2a3a578b5ea",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        3880,
        1220
      ]
    },
    {
      "parameters": {
        "value": "={{$json[\"dataSMS\"][0][\"time\"]}}",
        "custom": true,
        "toFormat": "YYYY/MM/DD HH:mm:ssZ",
        "options": {}
      },
      "id": "abb4e0bf-682e-47cc-aea0-8476de6f52f0",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        4700,
        1500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "8f110d47-a2c0-427a-a44f-c045313971ba",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        5280,
        1340
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "list"
      },
      "id": "f659b3ca-280f-4d0d-961b-28a892ddfbc9",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        5520,
        1300
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-12-13T08:06:27.949Z"
}