workflows/[CHARGERSMS DEVOLOPER] Check Credit + Response.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-08T08:32:04.319Z",
  "id": "3",
  "name": "[CHARGERSMS DEVOLOPER] Check Credit + Response",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"Your Current Credit Balance is\" : {{$json.XML.CREDIT}} }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "5174e93f-8dbe-470f-aa03-9f6aa695ad6c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1620,
        440
      ]
    },
    {
      "parameters": {
        "path": "dev-checkcredit",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "424aa9db-fc03-4f8b-be18-2d70d5bfc133",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        600,
        280
      ],
      "webhookId": "018f86fd-8405-42f1-9aad-5745a61df0d8"
    },
    {
      "parameters": {
        "functionCode": "const authorization = item.headers.authorization;\nconst encoded_credentials = authorization.replace('Basic', '').trim();\nconst credentials_buffer = new Buffer(encoded_credentials, 'base64');\nconst decoded_credentials = credentials_buffer.toString('ascii').split(':');\n\nreturn {\n  username: decoded_credentials[0],\n  password: decoded_credentials[1]\n};"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        840,
        420
      ],
      "id": "064310f7-0bc0-43b6-a674-c02d4b74d14f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smsthai.net:7733/apiCheckCredit.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{$json.username}}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "a5b53180-f2d4-43cd-a85c-5c121b9dd845",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "value": "={{ $json.password }}",
        "dataPropertyName": "password"
      },
      "id": "2b7ecb8e-9c1e-42e4-9e57-0684b0eb6150",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6170839d-a61d-4bf7-92f7-8ac11fb72e72",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1460,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-09T07:16:07.000Z",
  "versionId": "084359dd-1309-42cc-9a96-ce5fbddfefd9"
}