workflows/[ChargerSMS] Send SMS.json
{
  "active": true,
  "connections": {
    "Receive Json": {
      "main": [
        [
          {
            "node": "Split msisdn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split msisdn": {
      "main": [
        [
          {
            "node": "Remove Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Receive Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-23T12:10:31.823Z",
  "dataLoaded": false,
  "id": 1,
  "name": "[ChargerSMS] Send SMS",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "=username",
              "value": "={{$json[\"body\"][\"dataSMS[0][username]\"]}}"
            },
            {
              "name": "=password",
              "value": "={{$json[\"body\"][\"dataSMS[0][password]\"]}}"
            },
            {
              "name": "=msisdn",
              "value": "={{$json[\"body\"][\"dataSMS[0][msisdn]\"].split(' ')}}"
            },
            {
              "name": "=msg",
              "value": "={{$json[\"body\"][\"dataSMS[0][msg]\"]}}"
            },
            {
              "name": "sender",
              "value": "={{$json[\"body\"][\"dataSMS[0][sender]\"]}}"
            },
            {
              "name": "time",
              "value": "={{$json[\"body\"][\"dataSMS[0][time]\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "24da1f3b-2c6b-4f40-a0e9-d5dd58edaf0b",
      "name": "Receive Json",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        160,
        600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "dataSMS",
              "value": "={{[$json]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "91622d68-736e-42f4-817d-136b644cb77d",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        920,
        640
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.smsthai.net:7733/api_send_sms.php",
        "jsonParameters": true,
        "options": {
          "splitIntoItems": true
        },
        "bodyParametersJson": "={{$json}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        480
      ],
      "id": "56c65a57-0a85-49cb-9f48-78413e79477b"
    },
    {
      "parameters": {
        "fieldToSplitOut": "msisdn",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "57658008-30e2-4b47-844e-88de26031ac1",
      "name": "Split msisdn",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        460,
        700
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "msisdn"
            }
          ]
        },
        "options": {}
      },
      "id": "253a1f1d-6540-4946-bfd2-5e094b714c20",
      "name": "Remove Duplicate",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        740,
        880
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendsms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d71004d1-1f08-4857-b47d-4e34bd30383b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -100,
        520
      ],
      "webhookId": "9d46f1df-3106-439d-87c9-11bc39514cae"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{$json[\"data\"]}}"
      },
      "id": "2995b4e5-5e3c-43cf-b1b1-aa454498b858",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1480,
        620
      ],
      "webhookId": "b7ec8cf5-1baf-4264-bdf6-5046cf5ac883"
    },
    {
      "parameters": {
        "value": "={{$json[\"dataSMS\"][0][\"time\"]}}",
        "custom": true,
        "toFormat": "YYYY-MM-DDTHH:mm:ssZ",
        "options": {
          "toTimezone": "Asia/Bangkok"
        }
      },
      "id": "a58565e0-9369-4f82-a305-0fa59ea43b2e",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1160,
        780
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-12-04T15:53:55.119Z",
  "versionId": "805b0777-b9b0-49e8-abf3-4e707efa7948"
}