workflows/[CHARGERSMS DEVOLOPER] Check Credit + Response.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-13T05:28:37.313Z",
  "hash": "118b6da2889d704d7418dc31389f8749",
  "id": 28,
  "name": "[CHARGERSMS DEVOLOPER] Check Credit + Response",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Your Current Credit Balance is : {{$json.XML.CREDIT}}",
        "options": {}
      },
      "id": "fe42309a-cc0b-48ee-ac3b-e33063cb8a7e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1980,
        420
      ]
    },
    {
      "parameters": {
        "path": "dev-checkcredit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b539b45f-09a9-49f5-a40b-471169344dfc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        960,
        260
      ],
      "webhookId": "018f86fd-8405-42f1-9aad-5745a61df0d8"
    },
    {
      "parameters": {
        "functionCode": "const authorization = item.headers.authorization;\nconst encoded_credentials = authorization.replace('Basic', '').trim();\nconst credentials_buffer = new Buffer(encoded_credentials, 'base64');\nconst decoded_credentials = credentials_buffer.toString('ascii').split(':');\n\nreturn {\n  username: decoded_credentials[0],\n  password: decoded_credentials[1]\n};"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "id": "8590b696-fe29-4e5d-a282-2aafe012cb2c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smsthai.net:7733/apiCheckCredit.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{$json.username}}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "653530b4-e262-4249-a121-4f1b253c0a65",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1620,
        400
      ]
    },
    {
      "parameters": {
        "value": "={{ $json.password }}",
        "dataPropertyName": "password"
      },
      "id": "7306f460-871b-4c13-a36f-bf220c5f8a56",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1420,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "832d6563-9c2a-4efb-b858-537ae8d06d82",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1820,
        280
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-12-13T08:05:49.463Z"
}