workflows/[CHARGERSMS DEVOLOPER] Check Credit.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-07T14:12:26.443Z",
  "dataLoaded": true,
  "id": 31,
  "name": "[CHARGERSMS DEVOLOPER] Check Credit",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Your Credit: {{$json.XML.CREDIT}}",
        "options": {}
      },
      "id": "284cb1d8-cef0-4bf1-90a2-b7d2b6df766d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1260,
        360
      ]
    },
    {
      "parameters": {
        "path": "dev-checkcredit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7336597b-7247-45b3-b013-02a339ea97c0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        200
      ],
      "webhookId": "018f86fd-8405-42f1-9aad-5745a61df0d8"
    },
    {
      "parameters": {
        "functionCode": "const authorization = item.headers.authorization;\nconst encoded_credentials = authorization.replace('Basic', '').trim();\nconst credentials_buffer = new Buffer(encoded_credentials, 'base64');\nconst decoded_credentials = credentials_buffer.toString('ascii').split(':');\n\nreturn {\n  username: decoded_credentials[0],\n  password: decoded_credentials[1]\n};"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        480,
        340
      ],
      "id": "40b12fb5-6660-42dc-9a76-a9c7b9d2f279"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smsthai.net:7733/apiCheckCredit.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{$json.username}}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "7b9aade8-0fc5-454d-a440-f0ff8069f2e5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "value": "={{ $json.password }}",
        "dataPropertyName": "password"
      },
      "id": "4e132c82-d132-43a5-8c26-688bcf8a8b4d",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        700,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fa1677dd-058c-4bb4-ac4a-b2a864a84e9a",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1100,
        220
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-12-08T15:29:24.157Z",
  "versionId": "e507e15c-5606-43d7-b378-11057df8b3eb"
}