workflows/[Dtac] SendSMS.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-08T14:22:57.996Z",
  "id": "13",
  "name": "[Dtac] SendSMS",
  "nodes": [
    {
      "parameters": {},
      "id": "bb07dad9-69b9-4e76-abae-d29fa7e0a7c3",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apismsplus6.dtac.co.th/servlet/api/sms/submit",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "User",
              "value": "api1684055"
            },
            {
              "name": "Password",
              "value": "Best22zap"
            },
            {
              "name": "Sender",
              "value": "CHARGERSMS"
            },
            {
              "name": "Msnlist",
              "value": "66955303509"
            },
            {
              "name": "Msg",
              "value": "=SEND FROM API DTAC {{ $json[\"time\"] }}"
            },
            {
              "name": "MsgType",
              "value": "E"
            },
            {
              "name": "Encoding",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "b222a944-b3ad-476c-84c0-9f1c7f4e00f5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        920,
        480
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "2023-01-11T07:40:00.000Z"
      },
      "id": "af6ae841-1b33-4334-bcb7-c6636dc9edc7",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        440,
        220
      ],
      "webhookId": "46f2309d-1f7b-47e6-890f-c5d549b761ff"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "time",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4fe5ba4-f3cc-4319-b171-a2a764b7eb36",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        320
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-01-11T07:37:24.000Z",
  "versionId": "8c23ba58-45d9-4fa1-8638-68bc952017c1"
}