workflows/[LINE DEVELOPER] Get Users ID [HENG].json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Request LINE USERID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Userids Successful": {
      "main": [
        [
          {
            "node": "Get Userids More",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split UserIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request LINE USERID": {
      "main": [
        [
          {
            "node": "Get Userids Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Request LINE USERID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        []
      ]
    },
    "Get Userids More": {
      "main": [
        [
          {
            "node": "Get Userids More1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split UserIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Userids More1": {
      "main": [
        [
          {
            "node": "Split UserIds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split UserIds": {
      "main": [
        [
          {
            "node": "Split UserIds2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split UserIds1": {
      "main": [
        [
          {
            "node": "Split UserIds3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split UserIds2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split UserIds3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-15T07:59:51.945Z",
  "hash": "42d9a23d615894106eadbe307fb7bf03",
  "id": 37,
  "name": "[LINE DEVELOPER] Get Users ID [HENG]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "79343ca6-f653-4b71-86bf-21f78168b94a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -940,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sXns_35It7Aa3xhWwV-W4uuWrLTnPMxFZrYlCHz_Txg/edit#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 1124303049,
          "mode": "list",
          "cachedResultName": "Heng Leasing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sXns_35It7Aa3xhWwV-W4uuWrLTnPMxFZrYlCHz_Txg/edit#gid=1124303049"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "userId",
        "options": {}
      },
      "id": "5599562d-686a-40c3-ab04-6b9b8c49ed1c",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1420,
        780
      ],
      "credentials": {
        "googleApi": {
          "id": "17",
          "name": "[Google Sheet] Google account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/followers/ids?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ $json[\"next\"] }}"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer P8KtPiaXkQV0hDQuaBtUTQLLEWFONebiYUGbs9kmWs1j5qnJPUdgftHfJM5YlHoUhzaxQSMhrWNxHfd/lL4I0tJNTG3il7FBtytGSLsyH7zQe6h6Ta9YhJF0zaoApvMCQWfE1k7eleJduHeN5XjLcQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {}
      },
      "id": "c2145c18-b058-445a-8118-ec3ec3f14475",
      "name": "Get Userids Successful",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -460,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/followers/ids",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer P8KtPiaXkQV0hDQuaBtUTQLLEWFONebiYUGbs9kmWs1j5qnJPUdgftHfJM5YlHoUhzaxQSMhrWNxHfd/lL4I0tJNTG3il7FBtytGSLsyH7zQe6h6Ta9YhJF0zaoApvMCQWfE1k7eleJduHeN5XjLcQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "ecf92d6c-a2e3-4d37-a380-76149fb579b7",
      "name": "Request LINE USERID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -700,
        380
      ]
    },
    {
      "parameters": {},
      "id": "e3fe40b1-956f-443f-b3ca-20a03c091111",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        580
      ]
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/followers/ids?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ $json[\"next\"] }}"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer P8KtPiaXkQV0hDQuaBtUTQLLEWFONebiYUGbs9kmWs1j5qnJPUdgftHfJM5YlHoUhzaxQSMhrWNxHfd/lL4I0tJNTG3il7FBtytGSLsyH7zQe6h6Ta9YhJF0zaoApvMCQWfE1k7eleJduHeN5XjLcQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {}
      },
      "id": "06fb8a20-674a-4c95-beaf-73e4e2cf7b97",
      "name": "Get Userids More",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -240,
        580
      ]
    },
    {
      "parameters": {
        "url": "=https://api.line.me/v2/bot/profile/{{ $json[\"userIds\"] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer P8KtPiaXkQV0hDQuaBtUTQLLEWFONebiYUGbs9kmWs1j5qnJPUdgftHfJM5YlHoUhzaxQSMhrWNxHfd/lL4I0tJNTG3il7FBtytGSLsyH7zQe6h6Ta9YhJF0zaoApvMCQWfE1k7eleJduHeN5XjLcQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {}
      },
      "id": "214cd90c-bf6c-4477-bce3-32e0ce4e8f03",
      "name": "Get Userids Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1200,
        800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "userIds"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "5c99ca41-8038-4aa5-9cf5-270a22521e46",
      "name": "Split UserIds",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        20,
        280
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "1aa446ce-44b7-415c-a3aa-39e13d21672e",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {},
      "id": "628ff82b-f710-48c8-877b-e35634f8036a",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1160,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/followers/ids?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "next",
              "value": "={{ $json[\"next\"] }}"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer P8KtPiaXkQV0hDQuaBtUTQLLEWFONebiYUGbs9kmWs1j5qnJPUdgftHfJM5YlHoUhzaxQSMhrWNxHfd/lL4I0tJNTG3il7FBtytGSLsyH7zQe6h6Ta9YhJF0zaoApvMCQWfE1k7eleJduHeN5XjLcQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {}
      },
      "id": "58dcb8aa-6a04-43ab-9bb9-4f64f762634f",
      "name": "Get Userids More1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "userIds"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "c775bca4-60d1-4c69-8dad-cd45738d14c1",
      "name": "Split UserIds1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        240,
        540
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "userIds",
        "include": "selectedOtherFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "userIds"
            }
          ]
        },
        "options": {}
      },
      "id": "567ed965-ee23-47bb-bc64-f8be21b48a42",
      "name": "Split UserIds2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        360,
        260
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "userIds",
        "include": "selectedOtherFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "userIds"
            }
          ]
        },
        "options": {}
      },
      "id": "78fde64b-2ecb-4419-8720-ed51772f88e9",
      "name": "Split UserIds3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        440,
        520
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2022-12-13T09:50:04.078Z",
      "updatedAt": "2022-12-13T09:50:04.078Z",
      "id": "2",
      "name": "DEV"
    }
  ],
  "updatedAt": "2022-12-16T04:58:15.972Z"
}