workflows/[LINE DEVELOPER] Get Users ID.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Register Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Get Userids Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Userids Successful": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Menu": {
      "main": [
        [
          {
            "node": "Change Rich Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-08T12:24:06.734Z",
  "id": "5",
  "name": "[LINE DEVELOPER] Get Users ID",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "dba039e6-a9b6-44b6-9f71-8c66f22f248e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        140,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/followers/ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ihU+8KiBn51B6ZbTWZ70AThORLMolLf6nvlYVe12wjXDru72bp8GuRR0s+VYQHtcU+9PGNwbPjZDwGQRncEKi09nUNWaU+A0qTJOZJSLaLpXfRktPJ3FKt/PQ0tl3RsQ6KrHj0d39clZP77lLK5uNwdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "ea5289d7-239f-42f9-a936-850986d387c3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        420,
        800
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "userIds",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "9236271b-ee84-44f8-a1bf-7201db469335",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        680,
        920
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sXns_35It7Aa3xhWwV-W4uuWrLTnPMxFZrYlCHz_Txg/edit#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sXns_35It7Aa3xhWwV-W4uuWrLTnPMxFZrYlCHz_Txg/edit#gid=0"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "userId",
        "options": {}
      },
      "id": "45e38f98-ce39-4c28-b750-3b2a523b3a7a",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1180,
        780
      ],
      "credentials": {
        "googleApi": {
          "id": "5",
          "name": "[Google Sheet] b.nateetorn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.line.me/v2/bot/profile/{{ $json[\"userIds\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ihU+8KiBn51B6ZbTWZ70AThORLMolLf6nvlYVe12wjXDru72bp8GuRR0s+VYQHtcU+9PGNwbPjZDwGQRncEKi09nUNWaU+A0qTJOZJSLaLpXfRktPJ3FKt/PQ0tl3RsQ6KrHj0d39clZP77lLK5uNwdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "a76e0687-a238-4ec6-b4f7-49d651326486",
      "name": "Get Userids Successful",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        920,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/richmenu/bulk/link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ihU+8KiBn51B6ZbTWZ70AThORLMolLf6nvlYVe12wjXDru72bp8GuRR0s+VYQHtcU+9PGNwbPjZDwGQRncEKi09nUNWaU+A0qTJOZJSLaLpXfRktPJ3FKt/PQ0tl3RsQ6KrHj0d39clZP77lLK5uNwdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify ($json) }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7c99be94-0f65-4854-8dff-f82aad0fcf50",
      "name": "Change Rich Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        580
      ],
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "richMenuId",
              "value": "richmenu-304ab45e870efc5e2fe3d4da6d393493"
            },
            {
              "name": "userIds",
              "value": "={{ $json[\"userIds\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "619ed87c-1079-4055-8340-2d860b592dbd",
      "name": "Register Menu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        720,
        620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "richMenuId",
              "value": "richmenu-f40b17afbc46ecf04a881348e88d18e4"
            },
            {
              "name": "userIds",
              "value": "={{ $json[\"userIds\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "80a7e788-9c91-46af-b0a9-d25731d65bda",
      "name": "Customer Menu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "p_j2oq2yz8x2vys1",
        "table": "md_1sb7ip0n3fbdsf",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "id"
      },
      "id": "85f6f3d6-a387-4fe6-98c0-d4ef051c2d4d",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1160,
        1000
      ],
      "credentials": {
        "nocoDb": {
          "id": "16",
          "name": "NocoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-11T04:25:15.000Z",
  "versionId": "f449026c-3f6b-4d49-9db5-f053f2dbca17"
}