workflows/Trello to Wordpress.json
{
  "active": false,
  "connections": {
    "Get Card On Trello": {
      "main": [
        [
          {
            "node": "Get Attachment on Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Get Card On Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachment on Card": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-10T03:41:04.455Z",
  "id": "25",
  "name": "Trello to Wordpress",
  "nodes": [
    {
      "parameters": {
        "resource": "list",
        "operation": "getCards",
        "id": "627dd20992b88515789647e5",
        "returnAll": true,
        "additionalFields": {
          "fields": "all"
        }
      },
      "id": "b3b60faf-e0e9-49c1-87b3-718fdbfd020c",
      "name": "Get Card On Trello",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        800,
        460
      ],
      "credentials": {
        "trelloApi": {
          "id": "12",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {},
      "id": "69fa41a9-4874-4042-8cb8-4d56614a2fb6",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        540,
        380
      ]
    },
    {
      "parameters": {
        "resource": "attachment",
        "cardId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "additionalFields": {
          "fields": "url"
        }
      },
      "id": "3888374b-5d95-45e1-8dfa-54c959aabee1",
      "name": "Get Attachment on Card",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1040,
        580
      ],
      "credentials": {
        "trelloApi": {
          "id": "12",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "={{$json[\"url\"]}}"
      },
      "id": "b254c81d-1d2a-42f4-aaef-2d6db4dc45e2",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1280,
        320
      ],
      "credentials": {
        "googleApi": {
          "id": "5",
          "name": "[Google Sheet] b.nateetorn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "id": "fa546f33-8405-4b6b-b013-80304316f230",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1460,
        560
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-01-10T03:55:18.000Z",
  "versionId": "86d7732c-6f24-404b-8092-d94d75970252"
}