workflows/Trello to Wordpress.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Get Card On Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Card On Trello": {
      "main": [
        [
          {
            "node": "Get Attachment on Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachment on Card": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-15T04:34:23.039Z",
  "hash": "57b633587d8f96cab74f4e6752b793d7",
  "id": 36,
  "name": "Trello to Wordpress",
  "nodes": [
    {
      "parameters": {
        "resource": "list",
        "operation": "getCards",
        "id": "627dd20992b88515789647e5",
        "returnAll": true,
        "additionalFields": {
          "fields": "all"
        }
      },
      "id": "ebb0f5dc-254f-497a-b745-b01b15f87202",
      "name": "Get Card On Trello",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        460,
        500
      ],
      "credentials": {
        "trelloApi": {
          "id": "20",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {},
      "id": "afbfb8a9-fbd1-4bfe-9e98-8d30f1201914",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        340
      ]
    },
    {
      "parameters": {
        "resource": "attachment",
        "cardId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "additionalFields": {
          "fields": "url"
        }
      },
      "id": "c89912ac-7698-4a5b-add2-90b86f4ac3ac",
      "name": "Get Attachment on Card",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        740,
        420
      ],
      "credentials": {
        "trelloApi": {
          "id": "20",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "={{$json[\"url\"]}}"
      },
      "id": "46266b93-dab0-414c-81ad-63da78bf69fe",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1060,
        400
      ],
      "credentials": {
        "googleApi": {
          "id": "17",
          "name": "[Google Sheet] Google account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c00808c5-9087-406b-be1d-15b3e117779f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1280,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-12-15T07:55:42.785Z"
}